<h1>Dashboard</h1>
<form id="new_item_form" action="admin/list" method="POST">
  <% unless item.new? %>
    <p>Your item could not be saved because</p>
    <ul>
      <% item.errors.each do |error| %>
        <li><%= h error %></li>
      <% end%>
    </ul>
  <% end %>
  <input type="text" placeholder="Task" name="task" value="<%= h item.task %>">
  <input type="text" placeholder="Notes" name="notes"><%= h item.notes %></textarea>
  <input type="submit" value="Submit">
</form>
