<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title><%= h title %></title>

    <link rel="stylesheet" href="css/todo.css" type="text/css" media="all" charset="utf-8">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
