<h1>Login Page</h1>
<form id="login" action="/login" method="POST">
  <input type="text" placeholder="email" name="email"><br>
  <input type="password" placeholder="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
<br>
<br>
<form id="redirect_to_sign_up" action="/sign_up">
  <input type="submit" value="Sign Up">
</form>
