<h1>I'm sorry, there that email is unavailable.</h1>
<p>The email address you have chosen is already in use. Please select another or login.</p>
<form id="redirect_login" action="/login" method="GET">
  <input type="submit" value="Login">
</form>
<form id="redirect_sign_up" action="/sign_up" method="GET">
  <input type="submit" value="Sign Up">
</form>
